<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    
    {{>navbar}}

    <!-- main Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_errpage ">
                        <img class="error_img" src="images/404page.png" alt="error_page">
                        <p>Welcome to MoSolutions World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" target="_parent"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    {{>lowerLink}}
</body>

</html>